.infoBox{
    text-align: center;
    background: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 1.875rem;
    width: 360px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    color: white;
    margin: auto;

}